<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()" aria-label="Cancel"><span
            aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Confirm your deposits</h3>
</div>

<div class="modal-body">

    <!-- TODO Add a note about when the deposits will be available -->
    <table class="table table-condensed table-borderless table-striped no-margin">
        <tbody>

            <tr>
                <td colspan="2">Cash</td>
                <td class="text-right text-number text-success">{{::$ctrl.cash | dollars:2}}</td>
            </tr>

            <tr ng-repeat="check in $ctrl.checks">
                <td>Check</td>
                <td>{{::check.number}}</td>
                <td class="text-right text-number text-success">{{check.amount | dollars:2}}</td>
                <!-- TODO Add a way to adjust the amount if it was not scanned correctly -->
            </tr>

            <tr>
                <td colspan="4">
                    <div class="horizontal-line">&nbsp;</div>
                </td>
            </tr>

            <tr>
                <td colspan="2"><strong>Total</strong></td>
                <td class="text-right text-number text-success"><strong>{{::$ctrl.total | dollars:2}}</strong></td>
            </tr>

        </tbody>
    </table>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="$ctrl.ok()">OK</button>
</div>
