<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()" aria-label="Cancel">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Please enter your PIN</h3>
</div>

<div class="modal-body">

    <!-- The non-breaking spaces are used so that the div has the same vertical height before and after the PIN is
         entered -->
    <div class="text-center masked-pin">&nbsp;{{$ctrl.maskedPin}}&nbsp;</div>

    <div class="display-table centered">

        <!-- Build the first three rows of the keypad -->
        <div ng-repeat="rowDigits in [[1,2,3],[4,5,6],[7,8,9]]" class="display-table-row">
            <div ng-repeat="digit in rowDigits" class="display-table-cell">
                <button class="btn btn-keypad btn-primary" ng-click="$ctrl.addDigit(digit)">{{::digit}}</button>
            </div>
        </div>

        <!-- Build the last row of the keypad -->
        <div class="display-table-row">

            <div class="display-table-cell">
            </div>

            <div class="display-table-cell">
                <button class="btn btn-keypad btn-primary" ng-click="$ctrl.addDigit(0)">0</button>
            </div>

            <div class="display-table-cell">
                <button class="btn btn-keypad btn-default" ng-click="$ctrl.removeLastDigit()">
                    <i class="glyphicon glyphicon-circle-arrow-left"></i>
                </button>
            </div>

        </div>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
    <button ng-if="!$ctrl.pin" class="btn btn-warning" disabled>Enter PIN</button>
    <button ng-if=" $ctrl.pin" class="btn btn-primary" ng-click="$ctrl.ok()">OK</button>
</div>
